# Node / Next
**/node_modules/
**/.next/
**/out/

# Python
**/venv/
**/.venv/
**/__pycache__/
*.pyc

# Jupyter
**/.ipynb_checkpoints/

# Archivos pesados de entrenamiento
**/backend/models/entrenamiento/*.csv
**/backend/models/entrenamiento/*.ipynb
**/backend/models/**/*.h5
**/backend/models/**/*.pickle
**/backend/models/**/*.pkl

# Config / secretos
.env
.env.*
 